body{
    background-color: blanchedalmond;
}

h1, h2, h3, h4, h5, h6{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

a{
    font-size:large;
    margin-right: 10px;
    padding-left: 10px;
}

#me{
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    border: 8px solid goldenrod;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 100px;
}

#lily{
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    border: 5px solid silver;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 2px;
    padding-bottom: 20px;
}

ol{
    color:brown
}

ul{
    color: green;
}

